{% extends "base.html" %}
<title>{% block title%}Home{%endblock%}</title>
{%block content%}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="static/Cookie Butter_Latte_Iced_0.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="static/Cookie-Butter-Ice-Blended.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="static/PumpkinIceBlended.png" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
    <hr style="border: 1px solid violet;">

<br>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <h2 class="featurette-heading">Coffee Menu</h2>
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image xlink:href="static/B-Coffee.jpg" width="100%" height="110%" x="0" y="-6" />
            </svg>
            <h2>Brewed Coffee</h2>
            <p>One of our light, medium, dark, decaffeinated, or flavored brews of the day, brewed from only the top 1% of Arabica beans in the world.</p>
            <p><a class="btn btn-warning" href="/homeMenu">View More »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <br>
            <br>
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image xlink:href="static/Iced_Coffee_Milk.png" width="100%" height="110%" x="0" y="-7" />
            </svg>
            <h2>Iced Coffee</h2>
            <p>Our specially brewed coffee served over ice for a refreshing and bold coffee taste.</p>
            <br><p><a class="btn btn-warning" href="#">View More »</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <br>
            <br>
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image xlink:href="static/Chai-Tea-Latte.png" width="100%" height="110%" x="0" y="-7" />
            </svg>

            <h2>Tea Latte</h2>
            <p>A delicious blend of freshly pulled shots of concentrated tea leaves combined with steamed milk and our French Deluxe vanilla powder.</p>
            <p><a class="btn btn-warning" href="#">View More »</a></p>
        </div>
        <br>
        <br>
        <hr style="border: 1px solid violet;">
        <br>
        <br>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="featurette-heading">Bread</h2>
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/croissant.jpg" width="100%" height="110%" x="0" y="-6" />
                    </svg>
                    <h2>Croissant</h2>
                    <p>They’re light and airy, and so buttery, with a hint of sweetness and a little bit of a yeasty, stretchy texture. There’s nothing else quite like a croissant!</p>
                    <p><a class="btn btn-warning" href="#">View More »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <br>
                    <br>
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/baguette.png" width="100%" height="110%" x="0" y="-7" />
                    </svg>
                    <h2>Baguette</h2>
                    <p>Baguette is perfect for every occasion. From soups to salads to hearty roast dinners, fresh baked bread is always welcome on our table. </p>
                    <br><p><a class="btn btn-warning" href="#">View More »</a></p>
                </div><!-- /.col-lg-4 -->
    
                <div class="col-lg-4">
                    <br>
                    <br>
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/brioche.png" width="100%" height="110%" x="0" y="-7" />
                    </svg>
    
                    <h2>Brioche</h2>
                    <p>Our tastebuds owe the French a huge debt of gratitude for inventing brioche, a traditionally sweet yeast bread loaded with eggs and butter.</p>
                    <br>
                    <p><a class="btn btn-warning" href="#">View More »</a></p>
                </div>{%endblock%}
