{% extends "basetemp.html" %}{% block title %} Order Page {% endblock %}
{% block content%} 
<h1 style="color:wheat; text-align: center;"> Menu </h1>  
<hr style="border-color:white;">
<div style="background-color:rgba(255,255,255,120);padding: 12px;border-radius:12px;">
<br>
<br>
<div class="container marketing">
    <hr style="border: 5px solid yellow; width: 60%;">
    <h2 class="featurette-heading" style="padding-left: 430px;">Coffee Menu</h2>
    <hr style="border: 5px solid yellow; width: 50%;">
    <div class="row">
        <div class="col-sm-4">
            <br>
            <br>
            <h2 style="text-align: center;">Brewed</h2>
            <a href="#"style="padding-left:100px;"><svg  class="bd-placeholder-img rounded-circle" id="cappucino" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image xlink:href="static/cappuccino.jpeg"  width="110%" height="110%" x="0" y="-6" />
            </svg></a>
            <p style="padding-left:125px; font-family: Verdana;">Cappuccino</p>
            <a href="#"style="padding-left:100px;"><svg class="bd-placeholder-img rounded-circle"id="espresso" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image xlink:href="static/espresso_macchiato.jpg" width="110%" height="110%" x="0" y="-6" />
            </svg></a>
            <p style="padding-left:100px; font-family: Verdana;">Espresso Macchiato</p>
            <a href="#"style="padding-left:100px;"><svg class="bd-placeholder-img rounded-circle" id="cafe misto" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image xlink:href="static/Caffè Misto.jfif" width="110%" height="110%" x="0" y="-6" />
            </svg></a>
            <p style="padding-left:125px; font-family: Verdana;">Caffè Misto</p>
            <a href="#" style="padding-left:100px;"><svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image xlink:href="static/B-Coffee.jpg" id="black" width="110%" height="110%" x="0" y="-6" />
            </svg></a>
            <p style="padding-left:100px; font-family: Verdana;">Brewed Black Coffee</p>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <br>
            <br>
            <h2 style="text-align: center;">Iced Coffee</h2>
            <a href="#"style="padding-left:80px;"><svg class="bd-placeholder-img rounded-circle" id="vanilla" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image xlink:href="static/Vanilla Bean Iced Coffee.jfif" width="110%" height="110%" x="-13" y="-7" />
            </svg></a>
            <p style="padding-left:60px; font-family: Verdana;">Vanilla Bean Iced Coffee</p>
            <a href="#"style="padding-left:80px;"><svg class="bd-placeholder-img rounded-circle" id="caramel" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
               <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image xlink:href="static/Caramel Iced Coffee.jfif" width="110%" height="110%" x="-10" y="-7" />
            </svg></a>
            <p style="padding-left:70px; font-family: Verdana;">Caramel Iced Coffee</p>
            <a href="#"style="padding-left:80px;"><svg class="bd-placeholder-img rounded-circle" id="choco" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                 <rect width="100%" height="100%" fill="#777"></rect>
                 <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                 <image xlink:href="static/Chocolate Iced Coffee.jfif" width="110%" height="110%" x="0" y="-7" />
             </svg></a>
             <p style="padding-left:70px; font-family: Verdana;">Chocolate Iced Coffee</p>
             <a href="#"style="padding-left:80px;"><svg class="bd-placeholder-img rounded-circle" id="blueberry-iced" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                 <rect width="100%" height="100%" fill="#777"></rect>
                 <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                 <image xlink:href="static/Blueberry Iced Coffee.jfif" width="110%" height="110%" x="-5" y="-7" />
             </svg></a>
             <p  style="padding-left:70px; font-family: Verdana;">Blueberry Iced Coffee</p>
             <a href="#"style="padding-left:80px;"><svg class="bd-placeholder-img rounded-circle" id="raspberry-iced" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                 <rect width="100%" height="100%" fill="#777"></rect>
                 <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                 <image xlink:href="static/Raspberry Iced Coffee.jpg" width="110%" height="120%" x="-5" y="-7" />
             </svg></a>
             <p style="padding-left:70px; font-family: Verdana;">Raspberry Iced Coffee</p>
             <a href="#"style="padding-left:80px;"><svg class="bd-placeholder-img rounded-circle"  id="hazelnut-iced" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                 <rect width="100%" height="100%" fill="#777"></rect>
                 <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                 <image xlink:href="static/Hazelnut Iced Coffee.jpg" width="110%" height="110%" x="-5" y="-7" />
             </svg></a>
             <p style="padding-left:70px; font-family: Verdana;">Hazelnut Iced Coffee</p>
        </div><!-- /.col-sm-4 -->

        <div class="col-sm-4">
            <br>
            <br>
            <h2 style="padding-left:50px;">Tea Latte</h2>
            <a href="#"style="padding-left:50px;"><svg class="bd-placeholder-img rounded-circle"  id="hibiscus-latte" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                 <rect width="100%" height="100%" fill="#777"></rect>
                 <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                 <image xlink:href="static/HibiscusRoseLatte.jpg" width="110%" height="105%" x="-5" y="-7" />
             </svg></a>
             <p style="padding-left:50px; font-family: Verdana;">Hibiscus Rose Latte</p>
             <a href="#"style="padding-left:50px;"><svg class="bd-placeholder-img rounded-circle"  id="fog latte"width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                 <rect width="100%" height="100%" fill="#777"></rect>
                 <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                 <image xlink:href="static/Fog Tea Latte.jfif" width="110%" height="105%" x="-5" y="-5" />
             </svg></a>
             <p style="padding-left:50px;font-family: Verdana;">Fog Tea Latte</p>
             <a href="#" style="padding-left:50px;"><svg class="bd-placeholder-img rounded-circle"  id="chai-tea" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                 <rect width="100%" height="100%" fill="#777"></rect>
                 <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                 <image xlink:href="static/Chai-Tea-Latte.jpg" width="110%" height="105%" x="-5" y="-7" />
             </svg></a>
             <p style="padding-left:50px;">Chai Tea Latte</p>
             <a href="#"style="padding-left:50px;"><svg class="bd-placeholder-img rounded-circle"  id="green-tea" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                 <rect width="100%" height="100%" fill="#777"></rect>
                 <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                 <image xlink:href="static/green-tea-latte.jfif" width="110%" height="105%" x="-5" y="-7" />
             </svg></a>
             <p style="padding-left:50px;font-family: Verdana;">Green Tea Latte</p> 
             <a href="#"style="padding-left:50px;"><svg class="bd-placeholder-img rounded-circle"  id="rosehip-tea" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                 <rect width="100%" height="100%" fill="#777"></rect>
                 <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                 <image xlink:href="static/rosechip-chamomile-tea-latte.jpg" width="110%" height="105%" x="-5" y="-7" />
             </svg></a>
             <br>
             <p style="padding-left:10px;font-family: Verdana;">Rosehip Chamomile Tea Latte</p>
        </div>
        <br>
        <br>
        <hr style="border: 5px solid yellow; width: 60%;">
        <br>
        <br>
        <div class="container marketing">
            <h2 class="featurette-heading" style="padding-left: 450px;">Bread Menu</h2>
        <hr style="border: 5px solid yellow; width: 50%;">
        <br>
            <div class="row">
                <div class="col-sm-4">
                    <br>
                    <br>
                    <h2 style="padding-left:100px;">Croissant</h2>
                    <a href="#"style="padding-left:100px;"><svg class="bd-placeholder-img rounded-circle"  id="choco-almond" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/Chocolate-Almond-Croissant-Bread.png" width="100%" height="110%" x="0" y="-7" />
                    </svg></a>
                    <p  style="padding-left:40px; font-family: Verdana;">Chocolate Almond Croissant Bread</p>
                    <a href="#"style="padding-left:100px;"><svg class="bd-placeholder-img rounded-circle"  id="caramel-croissant" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/Caramel-croissant-bread-pudding.jpg" width="100%" height="110%" x="0" y="-7" />
                    </svg></a>
                    <p  style="padding-left:50px; font-family: Verdana;">Caramel Croissant Bread Pudding</p>
                    <a href="#"style="padding-left:100px;"><svg class="bd-placeholder-img rounded-circle"  id="rasp-croissant" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/raspberry-croissant-bread.png" width="100%" height="110%" x="-5" y="-7" />
                    </svg></a>
                    <p style="padding-left:60px; font-family: Verdana;">Raspberry Croissant Bread</p>
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4">
                    <br>
                    <br>
                    <h2 style="padding-left:80px;">Baguette</h2>
                    <a href="#"style="padding-left:80px;"><svg class="bd-placeholder-img rounded-circle"  id="italian-b" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/baguette.png" width="100%" height="110%" x="0" y="-7" />
                    </svg></a>
                    <p  style="padding-left:80px; font-family: Verdana;">Italian Baguette</p>
                    <a href="#"style="padding-left:80px;"><svg class="bd-placeholder-img rounded-circle"  id="sourdough-b" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/Sourdough-baguette.jpg" width="100%" height="110%" x="0" y="-7" />
                    </svg></a>
                    <p  style="padding-left:70px; font-family: Verdana;">Sourdough Baguette</p>
                    <a href="#"style="padding-left:80px;"><svg class="bd-placeholder-img rounded-circle"  id="white-b" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/White-baguette.jfif" width="100%" height="110%" x="0" y="-7" />
                    </svg></a>
                    <p  style="padding-left:100px; font-family: Verdana;">White Baguette</p>

                    <br>
                </div><!-- /.col-lg-4 -->
    
                <div class="col-sm-4">
                    <br>
                    <br>
                    <h2 style="padding-left:50px;">Brioche</h2>
                    <a href="#"style="padding-left:50px;"><svg class="bd-placeholder-img rounded-circle"  id="cinnamon-bri" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/cinnamon brioche.jpg" width="100%" height="110%" x="0" y="-7" />
                    </svg></a>
                    <p  style="padding-left:50px; font-family: Verdana;">Cinnamon Brioche</p>
                    <a href="#"style="padding-left:50px;"><svg class="bd-placeholder-img rounded-circle"  id="french-bri" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/brioche.png" width="100%" height="110%" x="0" y="-7" />
                    </svg></a>
                    <p  style="padding-left:70px; font-family: Verdana;">French Brioche</p>
                    <a href="#"style="padding-left:50px;"><svg class="bd-placeholder-img rounded-circle"  id="brown-butter-bri" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        <image xlink:href="static/Browned-butter-brioche.jpg" width="100%" height="110%" x="0" y="-7" />
                    </svg></a>
                    <p  style="padding-left:30px; font-family: Verdana;">Browned Butter brioche</p>
                    <br> 
                    <br>
                </div>
            </div>
        </div>
    </div>

{%endblock%}